.split-parent {
  display: flex;
  height: calc(100vh - 50px);
}

.split {
  height: 100%;
  padding-top: 20px;
}

.input_searches {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.criterias {
  left: 0;
  padding-left: 70px;
  width: 40%;
  padding-right: 70px;
}

.label-index {
  color: $gray;
}

.results{
  padding-right: 40px;
  padding-left: 20px;
  width: 60%;
  overflow-y: scroll;
}

.results h5 {
  margin-bottom: 0px;
}

.inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
  text-align: left;
}

.mrg-btm-10 {
  margin-bottom: 20px;
}

