

.background_home {
  background-image: url("background_home.png");
  box-shadow: inset 0px 800px 250px rgba(0, 0, 0, 0.4);
  background-repeat: no-repeat;
  background-size: cover !important;
  height: 110vh;
  width: 100%;
  margin-bottom: -30vh;
}


h1 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 64px;
  position: absolute;
  width: 1062px;
  height: 144px;
  left: 194px;
  top: 140px;
  text-align: center;
  color: #F9F8F8;
}

.last_searches {
border-left: 2px solid #D3CFD5;
    padding-left: 3px;

}


//ul{list-style: none;}

//li.grosse-puce li { font-size:40px;}
//li.grosse-puce li span { font-size:12px; }

li {
  font-size:100%;
  display:list-item;
  list-style-image: url(puce_red.svg);
}

//li::before{
  //content: "•"; color: #E0442C; font-size:40px;
 // display: inline-block;
  //width: 1em;
  //margin-left: -1em;}

.titre2_homepage {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 32px;
  color: #F9F8F8;
  margin-left:-10px;

}
.last_searches {

}

.cards_last_searches {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
