<div style="text-align : center; padding-top: 20px;">

  <h3 > Recherche de votre prochain logement en cours ... </h3>
  <!--
  <span class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
  </span> -->


  <div class="scraping-loader all-wrap" style="text-align : center; margin-top: 100px;">
    <div class="scraping-loader all">
      <div class="scraping-loader yarn"></div>
      <div class="scraping-loader cat-wrap">
        <div class="scraping-loader cat">
          <div class="scraping-loader cat-upper">
            <div class="scraping-loader cat-leg"></div>
            <div class="scraping-loader cat-leg"></div>
            <div class="scraping-loader cat-head">
              <div class="scraping-loader cat-ears">
                <div class="scraping-loader cat-ear"></div>
                <div class="scraping-loader cat-ear"></div>
              </div>
              <div class="scraping-loader cat-face">
                <div class="scraping-loader cat-eyes"></div>
                <div class="scraping-loader cat-mouth"></div>
                <div class="scraping-loader cat-whiskers"></div>
              </div>
            </div>
          </div>
          <div class="scraping-loader cat-lower-wrap">
            <div class="scraping-loader cat-lower">
              <div class="scraping-loader cat-leg">
                <div class="scraping-loader cat-leg">
                  <div class="scraping-loader cat-leg">
                    <div class="scraping-loader cat-leg">
                      <div class="scraping-loader cat-leg">
                        <div class="scraping-loader cat-leg">
                          <div class="scraping-loader cat-leg">
                            <div class="scraping-loader cat-leg">
                              <div class="scraping-loader cat-leg">
                                <div class="scraping-loader cat-leg">
                                  <div class="scraping-loader cat-leg">
                                    <div class="scraping-loader cat-leg">
                                      <div class="scraping-loader cat-leg">
                                        <div class="scraping-loader cat-leg">
                                          <div class="scraping-loader cat-leg">
                                            <div class="scraping-loader cat-leg">
                                              <div class="scraping-loader cat-paw"></div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="scraping-loader cat-leg">
                <div class="scraping-loader cat-leg">
                  <div class="scraping-loader cat-leg">
                    <div class="scraping-loader cat-leg">
                      <div class="scraping-loader cat-leg">
                        <div class="scraping-loader cat-leg">
                          <div class="scraping-loader cat-leg">
                            <div class="scraping-loader cat-leg">
                              <div class="scraping-loader cat-leg">
                                <div class="scraping-loader cat-leg">
                                  <div class="scraping-loader cat-leg">
                                    <div class="scraping-loader cat-leg">
                                      <div class="scraping-loader cat-leg">
                                        <div class="scraping-loader cat-leg">
                                          <div class="scraping-loader cat-leg">
                                            <div class="scraping-loader cat-leg">
                                              <div class="scraping-loader cat-paw"></div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="scraping-loader cat-tail">
                <div class="scraping-loader cat-tail">
                  <div class="scraping-loader cat-tail">
                    <div class="scraping-loader cat-tail">
                      <div class="scraping-loader cat-tail">
                        <div class="scraping-loader cat-tail">
                          <div class="scraping-loader cat-tail">
                            <div class="scraping-loader cat-tail">
                              <div class="scraping-loader cat-tail">
                                <div class="scraping-loader cat-tail">
                                  <div class="scraping-loader cat-tail">
                                    <div class="scraping-loader cat-tail">
                                      <div class="scraping-loader cat-tail">
                                        <div class="scraping-loader cat-tail">
                                          <div class="scraping-loader cat-tail">
                                            <div class="scraping-loader cat-tail -end"></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

<script>
  setTimeout(redirect, 6000)

  function redirect() {
    var searchParams = window.location.href.split('?')[1]
    window.location.replace("/flats/?" + searchParams)
  }
</script>

