<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="card_alerte" style="width: 18rem;">
      <div class="card_alerte_body">
    <div class="card-options-alerte">
    <h5 class="card_alerte_title">Location Paris 15eme</h5>
    <p> Budget Max :</p>
    <p> Nombre de pièces :</p>
  </div>
  <div class ="card_valeurs_options_alerte">
    <p> </p>
    <p> 1500 € </p>
    <p> 3 </p>
  </div>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
