.btn-green {
  text-align: center;
  color: #F9F8F8 !important;
  background-color: #6AD8A5;
  padding : 8px;
  border-radius: 8px;
}

.btn-green:hover {
  text-align: center;
  color: #F9F8F8 !important;
  background-color: #65C497;
  padding : 8px;
  border-radius: 8px;
  text-decoration: none;
}

.btn-red {
  text-align: center;
  color: #F9F8F8 !important;
  background-color: #E0442C;
  padding : 8px;
  border-radius: 8px;
}

.btn-red:hover {
  text-align: center;
  color: #F9F8F8 !important;
  background-color: #CC3E28;
  padding : 8px;
  border-radius: 8px;
  text-decoration: none;
}

.btn-red-small {
  text-align: center;
  font-size: 18px;
  color: #F9F8F8 !important;
  background-color: #E0442C;
  padding : 6px;
  border-radius: 8px;
}

.btn-red-small:hover {
  text-align: center;
  font-size: 18px;
  color: #F9F8F8 !important;
  background-color: #CC3E28;
  padding : 6px;
  border-radius: 8px;
  text-decoration: none;
}

.btn-transparent-grey {
  text-align: center;
  color: #3A4247 !important;
  padding : 8px;
  border-radius: 8px;
  border: 1px solid;
}

.btn-transparent-grey:hover {
  text-align: center;
  color: #3A4247 !important;
  padding : 8px;
  border-radius: 8px;
  background-color: #E8E9E9;
  border: 1px solid;
  text-decoration: none;
}

.btn-transparent-red {
  text-align: center;
  color: #CC3E28 !important;
  padding : 8px;
  border-radius: 8px;
  border: 1px solid;
}

.btn-transparent-red:hover {
  text-align: center;
  color: #CC3E28 !important;
  padding : 8px;
  border-radius: 8px;
  background-color: #FAEDEB;
  border: 1px solid;
  text-decoration: none;
}

.btn-transparent-red:hover .heart {
  background-image: url("https://res.cloudinary.com/mcouraud/image/upload/v1544534380/heart-full.svg");
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  height: 30px;
  width: 22px;
  top: 13px;
  left: 3px;
}




