.card_alert {
  width: 359px;
  height: 232px;
  background: rgba(250, 250, 250, 0.9);
  border-radius: 8px;
  padding:10px;
  box-shadow: 4px 2px 10px 1px rgba(65, 61, 60, 0.3);
}

.centered {
  position: relative;
  left: 110px;
  top: 10px ;
}

.bell {
  position: relative;
  left: 90px;
  bottom: 3px;
}

.colon-left{
  color:#3A4247;
  font-size: 18px;
  margin: 0px;
}

.colon_right{
  position: relative;
  text-align: right;
  color: #E0442C;
  font-size: 18px;
  bottom: 25px;
  margin: 0px;

}

.card_alerte_title {
  font-size:22px;
  color-font:#3A4247;
  margin-bottom: 30px;
}


.pencil {
  background-image: url("pencil-grey.svg");
  background-repeat: no-repeat;

  padding: 15px;
  display:inline-block;
  // position: relative;
}

.pencil:hover {
  background-image: url("pencil-red.svg");
  background-repeat: no-repeat;

  padding: 15px;
  display:inline-block;
  position: relative;
}

.trash {
  background-image: url("trash-grey.svg");
  background-repeat: no-repeat;
  padding: 15px;
  display:inline-block;

}

.trash:hover {
  background-image: url("trash-red.svg");
  padding: 15px;
  display:inline-block;
}
